@model Bank.Models.Prestamo

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-warning">Seguro que desea eliminar este prestamo?</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Cliente.Nombre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Cliente.FullName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Plazo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Plazo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Monto)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Monto)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TasaInteres)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TasaInteres)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TasaMora)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TasaMora)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Deuda)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Deuda)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ProximoPago)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProximoPago)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Estado)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Estado)
                    </dd>
                </dl>

            </div>
            <div class="modal-footer">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color">
                        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-raised btn-info" })
                        <input type="submit" value="Eliminar" class="btn btn-raised btn-danger" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
