@model IEnumerable<Bank.Models.Prestamo>

@{
    ViewBag.Title = "Prestamos";
}

<h2>Prestamos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plazo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TasaInteres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TasaMora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deuda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProximoPago)
        </th> 
        <th>
            <div class="btn-group">
                <a data-toggle="dropdown" data-target="#" class="btn btn-sm btn-info">Estado</a>
                <a href="#" data-target="#" class="dropdown-toggle btn-sm btn btn-raised btn-info" data-toggle="dropdown"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Solicitado", "Index", new { status = Bank.Models.Estado.Solicitado }, new { @class = "btn btn-sm btn-info" })</li>
                    <li>@Html.ActionLink("Aprovado", "Index", new { status = Bank.Models.Estado.Aprovado }, new { @class = "btn btn-sm btn-info" })</li>
                    <li>@Html.ActionLink("Pagado", "Index", new { status = Bank.Models.Estado.Pagado }, new { @class = "btn btn-sm btn-info" })</li>
                </ul>
            </div>        
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plazo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TasaInteres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TasaMora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deuda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProximoPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>            
            @Html.ActionLink("detalles", "details", new { id = item.PrestamoID }, new { @class = "btn btn-xs btn-raised btn-info" })
            @if (User.IsInRole("admin"))
            { 
                @Html.ActionLink("editar", "edit", new { id = item.PrestamoID }, new { @class = "btn btn-xs btn-raised btn-warning" })
                @Html.ActionLink("Eliminar", "delete", new { id = item.PrestamoID }, new { @class = "btn btn-xs btn-raised btn-danger" })
                if (item.Estado == Bank.Models.Estado.Solicitado)
                {
                    @Html.ActionLink("aprobar", "aprobar", new { id = item.PrestamoID }, new { @class = "btn btn-xs btn-raised btn-success" })
                }
                else if(item.Estado == Bank.Models.Estado.Aprovado)
                {
                    @Html.ActionLink("Pagar", "Pagar", new { id = item.PrestamoID }, new { @class = "btn btn-xs btn-raised btn-success" })
                }
            }
        </td>
    </tr>
}

</table>
