
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        @if (User.IsInRole("admin"))
        {
            <li>@Html.ActionLink("Clientes", "Index", "Cliente")</li>
            <li>@Html.ActionLink("Prestamos", "Index", "Prestamos")</li>
            <li>@Html.ActionLink("Cuentas", "Index", "Cuentas")</li>
        }
        else if (User.Identity.IsAuthenticated)
        {
            <li>@Html.ActionLink("Prestamos", "Index", "Prestamos")</li>
            <li>@Html.ActionLink("Cuentas", "Index", "Cuentas")</li>
            <li>@Html.ActionLink("Mis detalles", "Detalles", "Home")</li>
        }
        <li>@Html.ActionLink("Tabla de Amortizacion", "Amortizacion", "Prestamos")</li>
    </ul>
    @Html.Partial("_LoginPartial")
</div>
